{% extends 'master.html' %}
{% load static %}
{% block content %}




<div class="row">

  <div class="col-lg-12 col-md-12 col-xs-12">
    <div>
      <div class="card">
        <img src="{% static 'images/business1.jpg' %}" class="card-img" alt="..."
          style="height: 250px;border:none;background-size: cover;">
        <div class="card-img-overlay">
          <!-- <h5 class="card-title">Card title</h5> -->
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          <p class="card-text">WHO WE ARE<br> About Business Cafe</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
<!-- ==================================our story============================================== -->
    <div class="jumbotron jumbotron-fluid" style="background-color:white">
      <div class="container">
        <h1 class="display-4" style="color:rgb(9, 53, 88);margin-left: 450px;font-size: 30px;"><u>OUR STORY</u></h1>
        <p class="lead" style="font-size:19px;">Business Cafe started in the year 2017 with the aim of helping Small and
          Medium Businesses to get a proper structure and set up best practices in Business.
          Over the past few years, we have grown into a complete strategic Business and HR consulting firm with focus on
          SMEs and start-up entities. As the name suggests, Clout simply believes in ‘ínfluencing’ the businesses to
          adopt best strategies and practices in order to transform it to a world class organization..</p>
      </div>
    </div>
  </div>
</div>
<!-- =====================================our vission=============================== -->
<div class="row">
  <div class="col-lg-4 col-md-4 col-xs-12">
    <img src="{% static 'images/vission.png' %} " class="img-thumbnail" alt="..."
      style="margin-left:310px;margin-top:4px;">
  </div>

  <div class="col-lg-8 col-md-4 col-xs-12">
    <div class="jumbotron jumbotron-fluid" style="background-color:white;">
      <div class="container">
        <h1 class="display-4" style="margin-left:10px;font-size: 30px;color:rgb(8, 58, 99)"><u>OUR VISION</u></h1>
        <p class="lead" style="font-size:19px;">To be recognized as an impactful and innovative strategic consulting
          partner providing creative solutions and quality processes designed for long term business relationships..</p>
      </div>
    </div>
  </div>
</div>
<!-- ===============================our mission============================================== -->
<div class="row">
  <div class="col-lg-4 col-md-4 col-xs-12">
    <img src="{% static 'images/mission.png' %} " class="img-thumbnail" alt="..."
      style="margin-left:310px;margin-top:4px;">
  </div>
  
  <div class="col-lg-8 col-md-4 col-xs-12">
    <div class="jumbotron jumbotron-fluid" style="background-color:white;">
      <div class="container">
        <h1 class="display-4" style="margin-left:10px;font-size: 30px;color:rgb(8, 58, 99)"><u>OUR MISSION </u></h1>
        <p class="lead" style="font-size:19px;">To be the leading provider of strategic Business and HR solutions for
          Small and Medium Enterprises,
          thereby creating successful , productive and high performance organizations..</p>
      </div>
    </div>
  </div>
</div>
<!-- ===============================our values====================================== -->
<div class="row">
  <div class="col-lg-4 col-md-4 col-xs-12">
    <img src="{% static 'images/values.png' %} " class="img-thumbnail" alt="..."
      style="margin-left:310px;margin-top:4px;">
  </div>
  
  <div class="col-lg-8 col-md-4 col-xs-12">
    <div class="jumbotron jumbotron-fluid" style="background-color:white;">
      <div class="container">
        <h1 class="display-4" style="margin-left:100px;font-size: 30px;color:rgb(8, 58, 99)"><u>OUR VALUES</u></h1>
        <p class="lead" style="font-size:19px;">
        <ul>
          <li>Commitment: Assurance to do only what is “right”.</li>
          <li>Building Mutually Beneficial Relationship. </li>
          <li>Accountability and Trust: We uphold and embrace the highest standards of professional and personal ethics.
          </li>
          <li>Continuous Learning and Development: Gain and share knowledge for evolving.</li>
        </ul>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- ============================our mentors======================================== -->
<div class="row">
  <div class="col-lg-12 col-md-4 col-xs-12">
    <div style="margin-left: 550px;">
      <h2>OUR MENTORS</h2>
    </div><br><br>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-4 col-xs-12">


    <div class="card" style="width: 18rem;margin-left: 200px;">
      <img src="{% static 'images/mentor1.jfif' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h3>Dr.Kelvin Mathew</h3>
        <p class="card-text">Practicing Company Secretary who has been in the field for past 15 years and over, marked
          by winning accolades from Industries, Authorities, and the Society alike. Specialized in management
          consultancy, corporate laws, LLPs and Business Structuring.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-4 col-xs-12">

    <div class="card" style="width: 18rem;">
      <img src="{% static 'images/mentor2.jfif' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h3>Dr.Vardana</h3>
        <p class="card-text">Organisational psychologist capable to handle psychometric assessments. Proficient
          knowledge in HR analytic, change management and organisational development. More than three years of
          experience in research, currently carrying out independent research and consultancy in the area of workplace
          victimization..</p>
      </div>
    </div>
  </div>
</div>
<!-- ==============================our clients========================================= -->
<div class="row">
  <div class="col-lg-12 col-md-4 col-xs-12">
    <div style="margin-left: 550px;">
      <h2>OUR CLIENTS</h2>
    </div><br><br>
  </div>
</div>
<div class="clients">
<div class="row">
  <div class="col-lg-4 col-md-4 col-xs-12">
    <img src="{% static 'images/client2.png' %}" style="margin-left:30%;">

  </div>
  <div class="col-lg-4 col-md-4 col-xs-12">
    <img src="{% static 'images/client3.png' %}" style="margin-left:20%;">
  </div>
  <div class="col-lg-4 col-md-4 col-xs-12">
    <img src="{% static 'images/client4.jfif' %}" style="margin-left:30%;">
  </div>
</div>
</div>
<!-- ============================our team==================================================== -->

<div class="row">
<div class="col-lg-12">
  <div class="jumbotron jumbotron-fluid" style="background-color:white;margin-left:200px;">
    <div class="container">
      <!-- <div style="margin-left: 260px;"> -->
        <h2 style="margin-left:350px">MEET OUR TEAM</h2>
      </div><br><br>
      <p class="lead" style="font-size:19px;">Business Cafe is formed and managed by a qualified team of professionals, who have completed their masters from the prestigious National Institute of Technology. With experience in diverse businesses and industries, our team possess sound understanding of strategic as well as HR aspects. We have come up with customized solutions for every challenge put forward and are passionate of what we do and believe in continuous learning and improvement.</p>
    </div>
  </div>
<!-- </div> -->
</div>
<div class="teams" style="margin-left:300px;">
<div class="row">
  <div class="col-lg-4 col-md-4 col-xs-12">
   
    <img src="{% static 'images/teammember1.jfif' %}" style="margin-left:10%;">
    
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <img src="{% static 'images/teammember2.png' %}" style="margin-left:15%;">
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <img src="{% static 'images/teammember1.jfif' %}" style="margin-left:30%;">
    </div>
    </div><br><br>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <img src="{% static 'images/teammember2.png' %}" style="margin-left: 10%;">
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
          <img src="{% static 'images/teammember1.jfif' %}" style="margin-left:15%;">
          </div>
          </div>
  </div>



















{% endblock %}