{% extends 'master.html' %}
{% load static %}
{% block content %}



<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div>
        <div class="card">
          <img src="{% static 'images/meeting4.jpg' %}" class="card-img" alt="..."
            style="height: 250px;border:none;background-size: cover;">
          <div class="card-img-overlay">
            <!-- <h5 class="card-title">Card title</h5> -->
            <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            <p class="card-text">BUSINESS CONSULTING</p>
          </div>
        </div>
      </div>
    </div>
  </div><br><br><br>
  <div class="row">
    <div class="col-lg-6 col-md-12 col-xs-12">

        <!-- <div class="card" style="margin-left: 70px;">
            <div style="width: 205px;margin:left-30px;"><img src="{% static 'images/businessplan.png' %}" class="card-img-top" alt="..."></div>
            <div class="card-body">
                <h2>Business plans</h2>
              <p class="card-text">An effective business plan can be the key to your success in the long run. We work closely with you to understand your goals and vision, and then develop a clear roadmap for your business for the next few years. Our consultants help you in preparing a detailed plan for your new business by identifying market opportunities and assessing their feasibility with specific focus on implementation and regular review of plans for business diversification prospects.</p>
            </div>
          </div> -->

          <div style="margin-left: 30%;" ><img src="{% static 'images/businessplan.png' %}" style="width: 200px;margin:left-50px;" alt="..."><br>
          <br><div class="card-body">
            <h4 style="color:rgb(98, 168, 233);">Business plans</h4>
          <p>An effective business plan can be the key to your success in the long run. We work closely with you to understand your goals and vision, and then develop a clear roadmap for your business for the next few years. Our consultants help you in preparing a detailed plan for your new business by identifying market opportunities and assessing their feasibility with specific focus on implementation and regular review of plans for business diversification prospects.</p>
        </div>
        </div> 

        <!-- <div class="jumbotron jumbotron-fluid"style="margin-left: 80px;background-color:white;">
            <div class="container">
                <img src="{% static 'images/businessplan.png' %}" style="width: 200px;margin-top: 2px;margin-left: 70px;">
              <br><h3>Business plan</h3>
              <p class="lead">An effective business plan can be the key to your success in the long run. We work closely with you to understand your goals and vision, and then develop a clear roadmap for your business for the next few years. Our consultants help you in preparing a detailed plan for your new business by identifying market opportunities and assessing their feasibility with specific focus on implementation and regular review of plans for business diversification prospects.</p>
            </div>
          </div> -->
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">

            <div style="margin-left: 10%;" ><img src="{% static 'images/brandstrategy.png' %}" style="width: 200px;margin:left-50px;" alt="..."><br>
                <br><div class="card-body">
                  <h4 style="color:rgb(98, 168, 233);">Brand strategy</h4>
                <p> Brands can be driving forces of growth and business transformation, impacting an entire organization.
                    Integrating business and brand strategy into a go-to-market strategy delivers measurable results. Brands
                    that position, message and communicate their unique value perform better than competitors. Achieving these results requires a modern approach that is purpose-driven, experience-based and powered by digital
                    platforms.</p>
                   <p> Business cafe Strategy helps you honestly assess whether your products deliver the value that your customers desire and if your marketing truly tells that story. We focus each deliverable on why your brand matter and why it’s different to ensure a meaningful and lasting bond between your brand, employees and customers.
                    
                    </p>
              </div>
              </div>  
        </div>
        </div>


        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div style="margin-left: 30%;" ><img src="{% static 'images/marketfeasablity.png' %}" style="width: 200px;margin:left-50px;" alt="..."><br>
                    <br><div class="card-body">
                      <h4 style="color:rgb(98, 168, 233);">Market Feasibility Studies</h4>
                     <p>Do you wish to expand your current business? Do you want to tap into the business potential of a new area? If this is your current scenario, a market feasibility study can help.
                        We offer an in-depth and scenario-based analysis to assess whether the feasibility to enter a market exists. The assumptions behind the scenarios and decisions, provide us with a constant reference check for the future.</p> 
                  </div>
                  </div> 
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <div style="margin-left: 10%;" ><img src="{% static 'images/cost.png' %}" style="width: 200px;margin:left-50px;" alt="..."><br>
                        <br><div class="card-body">
                          <h4 style="color:rgb(98, 168, 233);">Cost optimization</h4>
                          <p>Cost Optimization is the continuous process of obtaining the best pricing/cost with no impact or reduction in scope of service delivery and ensuring the customer satisfaction scores are maintained. Every organization is focused not just on growth but profitability. And profitable growth comes with tackling your cash and cost challenge. Here at Clout our primary focus is to keep your business in its natural trajectory amidst the volume and the velocity of change across industries, markets and economies, by helping you rapidly optimize our costs which has a significant impact on your performance for now and for the near future.</p>
                </div>
                </div>
                 </div>
                 </div>
                 <div class="row">
                    <div class="col-lg-6 col-md-12 col-xs-12">
                        <div style="margin-left: 30%;" ><img src="{% static 'images/growth.png' %}" style="width: 200px;margin:left-50px;" alt="..."><br>
                            <br><div class="card-body">
                              <h4 style="color:rgb(98, 168, 233);">Growth Strategy</h4>
                             <p>In business, growth is a necessity, not an option. Over the past decade, approximately 90% of companies worldwide failed to achieve sustained, profitable growth. We help companies uncover good growth opportunities in a reliable and systematic way by:
                             <ul>
                               <li> Examining your business portfolio to identify strategic growth initiatives</li>
                               <li>  Target opportunities that are close to what your business is good at</li>
                               <li>  Assess how well you meet your customers’ needs</li>
                               <li>  Identify good ideas you can adopt from your competitors</li>
                               <li>  Extract ideas for incremental growth from going through the customer experience</li>
                               <li>  Evaluate potential mergers and acquisitions</li>
                               <li>  Model a longer-term vision for your business</li></ul></p>
                          </div>
                          </div> 
                        </div>
                        <div class="col-lg-6 col-md-12 col-xs-12">
                            <div style="margin-left: 10%;" ><img src="{% static 'images/franchise.png' %}" style="width: 200px;margin:left-50px;" alt="..."><br>
                            <br><div class="card-body">
                              <h4 style="color:rgb(98, 168, 233);">Franchise Reports</h4>
                            <p>At Business Cafe our expertise lies in the creating and defining franchise reports with absolute precision of norms and definitions understandable by any kind of population looking forward to enter the franchise business. We at clout are focused on identifying the Franchiser’s norms as well as the franchisee’s ability. We have had our share of experience in designing franchise models and reports for several leading franchise model businesses.</p>
                        </div>
                        </div>
                



















{% endblock %}