{% extends 'master.html' %}
{% load static %}
{% block content %}
<!-- <link rel="stylesheet" href="{% static 'css/master.css' %}"> -->

<!-- <link rel="stylesheet" href="{% static 'js/hr.js' %}"> -->

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

        <div>
            <div class="card">
                <img src="{% static 'images/hrhome2.jpg' %}" class="img-fluid" alt="..."
                    style="height: 250px;border:none;background-size: cover;">
                <div class="card-img-overlay">
                    <!-- <h5 class="card-title">Card title</h5> -->
                    <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                    <p class="card-text">HR CONSULTING</p>
                </div>
            </div>
        </div>
    </div>
</div><br><br>
<br>
<div class="row">
    <div class="col-lg-6 col-md-12 col-xs-12">

        <div style="margin-left: 30%;"><img src="{% static 'images/hrstratergy.png' %}"
                style="width: 200px;margin:left-50px;" alt="..."><br>
            <br>
            <div class="card-body">
                <h4 style="color:rgb(98, 168, 233);">HR Strategy Framework:</h4>
                <p>‘People’ are one of the key success factors of high performing organizations. However, it remains
                    difficult to ascertain the HR function contribution to accomplishment of the business objectives.
                </p>

                <p>Our 10-step approach helps organisations to strengthen its strategic role and execute an effective HR
                    strategy needed to survive and grow in today’s dynamic business environment.</p>

            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-xs-12">

        <div style="margin-left: 10%;"><img src="{% static 'images/hrtalent.png' %}"
                style="width: 200px;margin:left-50px;" alt="..."><br>
            <br>
            <div class="card-body">
                <h4 style="color:rgb(98, 168, 233);">Hiring and Talent Acquisition:</h4>
                <p>
                    To remain competitive and be successful in your industry, you need to not only recruit the best and
                    right fit to your organization, but you also need to retain them.</p>

                <p>Our recruitment service involves understanding of your business and its hiring needs and based on the
                    same, we design our search plan, perform the initial screening of the candidates and validate the
                    credentials of the selected candidates by way of reference checks.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12 col-xs-12">

        <div style="margin-left: 30%;"><img src="{% static 'images/hr-audit.png' %}"
                style="width: 200px;margin:left-50px;" alt="..."><br>
            <br>
            <div class="card-body">
                <h4 style="color:rgb(98, 168, 233);">HR Audit:</h4>
                <p>HR audit helps in analysing the gap between ‘what is the current HR function’ and ‘what should
                    be/could be the best possible HR function’ in the organization.</p>

                <p>At Business Cafe, HR audit is undertaken as a process aimed at simplifying and improving the quality
                    of various HR functions and processes.</p>

            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-xs-12">
        <div style="margin-left: 10%;"><img src="{% static 'images/hradvisory.png' %}"
                style="width: 200px;margin:left-50px;" alt="..."><br>
            <br>
            <div class="card-body">
                <h4 style="color:rgb(98, 168, 233);">Statutory Compliance and Advisory Services:</h4>
                <p>Adhering to statutory laws and regulations builds goodwill of the employer and helps in avoiding
                    legal complications and other non-compliance issues.</p>

                <p> Business Cafe helps clients ensure compliance with statutory regulations. We assist in maintenance
                    of registers, licenses etc, and offer advisory services on compliance aspects.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12 col-xs-12">

        <div style="margin-left: 30%;"><img src="{% static 'images/hr-cons.png' %}"
                style="width: 200px;margin:left-50px;" alt="..."><br>
            <br>
            <div class="card-body">
                <h4 style="color:rgb(98, 168, 233);">HR Consulting Projects:</h4>
                <p>Do you have a specific HR issue that you need help addressing? Our HR projects ease the burden of
                    these common problems on your business and management.</p>

                <p>Our team of HR professionals specialises in quality, time-bound delivery and execution of such
                    customized HR assignments.</p>

                <p>Services we provide include Recruiting services, HR framework restructuring, Compensation plan
                    development, HR compliance audits to name a few.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12 col-xs-12">
        <div style="margin-left: 10%;"><img src="{% static 'images/hrbenchmarking.png' %}"
                style="width: 200px;margin:left-50px;" alt="..."><br>
            <br>
            <div class="card-body">
                <h4 style="color:rgb(98, 168, 233);">Compensation Benchmarking:</h4>
                <p>How do you know if you are currently paying your employees at competitive levels? Are you utilizing
                    the appropriate mix of base and variable compensation based on the type of position? These are some
                    of the common questions we are asked when clients engage us on a compensation project.</p>

                <p>Our team of compensation specialists focuses purely on delivering tailor made salary and reward
                    reports to ensure your firm’s compensation plans and policies are complete, competitive and
                    optimized.</p><br>
                <button class="button1" style="background-color: rgb(68, 151, 219);">see more</button>
                <div class="service" style="display:none;">
                    <ul style="color:rgb(98, 168, 233) ;">
                        <h3>Our services include:</h3>
                        <li>Compensation Strategy and Plan Design</li>
                        <li>Total Rewards Management</li>
                        <li>Salary Benchmarking</li>
                        <li>Total Remuneration Survey ( TRS )</li>
                        <li>Variable pay structuring</li>
                        <li>Salary Administration</li>
                    </ul>
                    <button style="display: none;background-color: rgb(68, 151, 219);" class="button2">see less</button>
                </div>
                </p>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12 col-xs-12">
        <div style="margin-left: 30%;"><img src="{% static 'images/hrpms.png' %}" style="width: 200px;margin:left-50px;"
                alt="..."><br>
            <br>
            <div class="card-body">
                <h4 style="color:rgb(98, 168, 233);">Performance Management Systems (PMS):</h4>
                <p>At Business Cafe, we design strategic performance management systems to effectively evaluate and
                    reward individual contributions, develop key behavioural competencies, and support organizational
                    goals and objectives</p>
                <button class="button1" style="background-color: rgb(68, 151, 219);">see more</button>
                <div class="service" style="display:none;">
                    <ul>
                        <h3 style="color:rgb(98, 168, 233) ;">Our extensive experience of creating and modifying PMS
                            involves:</h3>
                        <li>Conduct current performance management evaluation</li>
                        <li>Outlining the organization structure and developing job description for each position.</li>
                        <li>Creating objective performance evaluation process with defined Key Responsibility Areas
                            (KRA)</li>
                        <li>Define long-range measures and targets, building clarity around vision and mission set.</li>
                        <li>Facilitate the development of balanced scorecards and dashboards</li>
                        <li> 360° feedback process to collect honest, unbiased and fair opinions from multi raters in a
                            confidential environment</li>
                        <li>Develop an ongoing monitoring process to assure that communication about performance results
                            in continuous learning and improvement.</li>
                    </ul>
                    <button style="display: none;background-color: rgb(68, 151, 219);" class="button2">see less</button>
                </div>
                </p>
            </div>
        </div>
    </div>
</div>


<script>
    $(".button1").click(function () {
        $('.service').show()
        $('.button1').hide()
        $('.button2').show()
    })
    $(".button2").click(function () {
        $('.service').hide()
        $('.button1').show()
        $('.button2').hide()
    })
</script>



{% endblock %}