{% extends 'master.html' %}
{% load static %}
{% block content %}



<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

        <div>
            <div class="card">
                <img src="{% static 'images/marketing.jpg' %}" class="card-img" alt="..."
                    style="height: 250px;border:none;background-size: cover;">
                <div class="card-img-overlay">
                    <!-- <h5 class="card-title">Card title</h5> -->
                    <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                    <p class="card-text">DIGITAL MARKETING</p>
                </div>
            </div>
        </div>
    </div>
</div><br><br><br>
<div class="row">
    <div class="col-lg-6 col-md-12 col-xs-12">

        <div style="margin-left: 30%;"><img src="{% static 'images/fb.png' %}" style="width: 200px;margin:left-50px;"
                alt="..."><br>
            <br>
            <div class="card-body">
                <h4 style="color:rgb(98, 168, 233);">Facebook Marketing</h4>
                <p>A Facebook page is a great free marketing tool for your business. If used properly these pages can
                    help brands make the most of customer conversations and maximize business earnings.</p>
                <p> Our expert digital marketing team will make your business interactions livelier by connecting with
                    the people who will love your business.</p>
                <p>We will develop your Facebook business page into a space where you can address customer needs, create
                    loyalty and drive commerce to enhance your brand identity. This results in more users interacting
                    with you and your brand, forming relationships that will help your long term growth.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-xs-12">
        <div style="margin-left: 20%;"><img src="{% static 'images/influencer.png' %}"
                style="width: 200px;margin:left-50px;" alt="..."><br>
            <br>
            <div class="card-body">
                <h4 style="color:rgb(98, 168, 233);">Influencer Marketing</h4>
                <p>Influencer marketing is becoming an essential way to publicize your goods and services online as it
                    is now the most genuine and successful forms of marketing today. It aims to identify potential
                    social media influencers in your niche whom you can approach to promote your brand.</p>
                <p>Business Cafe marketing team helps to define the best type of Influencer for your brand whose
                    audience matches your target market. With inbound marketing techniques, we can help you to partner
                    with some of the most influential and active social media content creators and create engaging,
                    memorable content that will resonate with the target audience and lead to mass sharing. Business
                    Cafe employs multiple strategies and tactics to ensure performance driven results.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12 col-xs-12">

        <div style="margin-left: 30%;"><img src="{% static 'images/instagram.png' %}"
                style="width: 200px;margin:left-50px;" alt="..."><br>
            <br>
            <div class="card-body">
                <h4 style="color:rgb(98, 168, 233);">Instagram Marketing</h4>
                <p>Instagram is an absolute goldmine for businesses of all shapes and sizes. From social selling to
                    community-building and beyond. It is fairly easy to increase your followers and reach your target
                    market organically on this visual-based social media platform. But you need a clear-cut, actionable
                    Instagram strategy if you want to grow your business and attract customers.</p>
                <p>Here is where we can help you. With our proficient marketing strategies, we will make sure that
                    people recognize your brand by optimizing your feed strategy.</p>
                <p>Through strategic management your promotional posts, conversational posts and Instagram bio we will
                    help you to attract more followers, which means, more potential business.
                    Our ultimate aim is to inspire the actions of your potential customers through visual expressions of
                    your brand.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-xs-12">

        <div style="margin-left: 20%;"><img src="{% static 'images/content.png' %}"
                style="width: 200px;margin:left-50px;" alt="..."><br>
            <br>
            <div class="card-body">
                <h4 style="color:rgb(98, 168, 233);">Content Marketing</h4>
                <p>Content marketing is at the heart of most successful digital marketing campaigns, it covers the
                    entire process of creating, distributing and using content to meet your business goals. Its ultimate
                    aim, of course, is to lead the reader into taking some profitable action, perhaps buying a
                    particular product.
                    Business Cafe focus on offering high-quality, targeted content material that is first and foremost
                    helpful and useful to attract, inform and engage potential audience.Our industry-leading content
                    marketing services are engineered to achieve your business goals. We provide you results-driven,
                    engaging content for your website, email campaigns, social media channels and paid distribution.</p>
                <p>From search engine optimization to social media marketing, every digital marketing function at Clout
                    is carefully synchronized to enhance the content creation strategy. We create professionally
                    designed eBooks, white papers, case studies, sales sheets, executive reports and more. From
                    infographic design to web page layout, we’ve got the vision, and we’ve got the visuals to bring it
                    to life.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12 col-xs-12">

        <div style="margin-left: 30%;"><img src="{% static 'images/googleads.png' %}"
                style="width: 200px;margin:left-50px;" alt="..."><br>
            <br>
            <div class="card-body">
                <h4 style="color:rgb(98, 168, 233);">Google Ads</h4>
                <p>Business Cafe digital marketing team will provide you the best conversational commerce strategy that
                    will help you get in front of customers when they’re searching for businesses like yours on Google
                    Search.Advertising on Google with Ads is one of the best decisions you can make to expand your
                    reach, find new customers, and grow your business. Google Ads is the world’s largest and most widely
                    used online advertising platform. We will assist you with advertising on Google, so that your
                    business can reach a potential audience of millions.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12 col-xs-12">

        <div style="margin-left: 20%;"><img src="{% static 'images/website.png' %}"
                style="width: 200px;margin:left-50px;" alt="..."><br>
            <br>
            <div class="card-body">
                <h4 style="color:rgb(98, 168, 233);">Website Creation</h4>
                <p>Website is the online representation of your whole business. People visualize your business based on
                    the website. If website design is poor with outdated themes then it will affect your business in a
                    bad way. A good looking and mobile-friendly website is all you need at the start.</p>
                <p>We have an excellent team of web development experts who are constantly experimenting and
                    implementing innovative ideas that will transform website designs into a gold mine for your
                    business. We help to build your unique online presence whether it be E commerce, CMS, Business
                    Website, Portfolio Website, Educational Website or Personal Website.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12 col-xs-12">

        <div style="margin-left: 30%;"><img src="{% static 'images/youtube.png' %}"
                style="width: 200px;margin:left-50px;" alt="..."><br>
            <br>
            <div class="card-body">
                <h4 style="color:rgb(98, 168, 233);">YouTube Marketing</h4>
                <p>YouTube is the number one place for creating and sharing video content, and it can also be an
                    incredibly powerful social media marketing tool.</p>
                <p>A good YouTube strategy can help you reach more people and improve your results overall. Here is
                    where you need us, we will assist you to put together a video marketing strategy that gives results.
                </p>
                <p>We will help your business to reach a much wider audience by creating unique content that’s easy for
                    viewers to consume and share which improve awareness, and generate more engagement, traffic, and
                    leads.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-xs-12">

        <div style="margin-left: 20%;"><img src="{% static 'images/domain.png' %}"
                style="width: 200px;margin:left-50px;" alt="..."><br>
            <br>
            <div class="card-body">
                <h4 style="color:rgb(98, 168, 233);">Domain Research</h4>
                <p>Domain name is the building block to a good website. It is an important factor that can impact your
                    website search rankings. With millions of websites on the internet, you want to make sure that your
                    domain name is unique and brandable, so that it stands out in your readers’ minds.</p>
                <p>Branding experts are here to find you a domain name that perfectly fits your brand. We will lead you
                    towards an SEO-friendly domain name that can help you target your audience and accelerate your
                    search engine placement. Our domain research strategy is bound to provide you with a relevant,
                    recognizable, authoritative and memorable domain name.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12 col-xs-12">

        <div style="margin-left: 30%;"><img src="{% static 'images/linkedln.png' %}"
                style="width: 200px;margin:left-50px;" alt="..."><br>
            <br>
            <div class="card-body">
                <h4 style="color:rgb(98, 168, 233);">LinkedIn Marketing</h4>
                <p>LinkedIn is The World’s Largest Professional Network for business professionals to network and makes
                    strategic connections that will enhance their business performance and improve their online
                    reputation.</p>
                <p>Our adept digital marketing strategy will give you exposure to people hunting for products or
                    services, getting you introduced to potential clients and displaying your recommendations from
                    others on LinkedIn which will help you to propel your business in the right path.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-xs-12">

        <div style="margin-left: 20%;"><img src="{% static 'images/identity.png' %}"
                style="width: 200px;margin:left-50px;" alt="..."><br>
            <br>
            <div class="card-body">
                <h4 style="color:rgb(98, 168, 233);">Brand Elements & Identity Designing</h4>

                <p>A brand identity is the sum total of how your brand looks, feels, and speaks to people. Brand
                    identity design is one of the key components of your marketing strategy, be it internal or external.
                    At Clout we have a design team with strong communication and design skills who understands your
                    business. We create a brand image that encourages people to engage with you and differentiate
                    yourself from your competition.</p>
                <p>Our creative team crafts a plan to roll out your distinct identity through every possible segment of
                    your brand collaterals. We blend together different brand elements like the Logo, Business Cards,
                    Invitations Infographic Design, Packaging Design, Brochure Design, and Menu Design to build your
                    brand identity. With our design intelligence we weave the visual language for brands to communicate
                    and sustain.
                    We help your brand narrate its own story even through the minutest stationery designs to the biggest
                    signage that is not just emotionally stirring but leaves an indelible impact on the market.</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}