body{
  margin: 0;
  overflow-x: hidden;
}


.headeritem{
  color: rgb(36, 31, 31);
  font: weight 200px;;
  font-size: large;
}
.navbar-brand{
  color: #000;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
span {
  margin-bottom: 15px !important;
  font-size: 16px !important;
  display: inline-block !important;
}

.menu:hover
{
  color: blue;
}
.nav-link:hover{
  color: blueviolet;
}