/* input{
    width: 20px;
    height: 5px;
} */

     .errors{
        color: rgb(245, 13, 33);
        border-color: darkgoldenrod;
    } 
.careerform{
    margin-left: 60%;
     background-color: #f1f1f1;
     color: black;
     height: 500px;
     width: 450px;
     padding-left: 50px;
     padding: 20px
}
input{
    width:200px
}
#submit{
    background-color: rgb(73, 147, 243);
    color: white;
}
#submit:hover{
    background-color: rgb(142, 197, 223);
}